.mainBox {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.filterBox {
  min-width: 300px;
  height: inherit;
  /* border-radius: 16px;
  border: 1px solid rgb(190, 255, 182); */
}
.visitsBox {
  padding: 0px 16px;
}
.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  column-gap: 28px;
  flex-wrap: wrap;
  justify-content: center;
  scroll-behavior: smooth;
}
.visitsHeader {
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #3b6b52;
  border: 1px solid rgb(190, 255, 182);
  border-radius: 16px;
}
