:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  width: 1200 px;
  /* min-height: 100vh; */
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
label {
  margin: 0;
}
h1 {
  text-align: center;
  font-style: 22px;
  font-weight: 600;
  color: #1bb025;
}
h2 {
  text-align: center;
  font-style: 18px;
  font-weight: 400;
  color: #2fb038;
}
p {
  overflow-wrap: anywhere;
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a,
button {
  text-decoration: none;
}
.headBox {
  margin-top: 40px;
  padding: 80px 50px;
  border: 1px solid #9be1a0;
  border-radius: 25px;
}
