.box {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 10px;
}

.button {
  min-width: 124px;
  min-height: 46px;
  padding: 8px 12px;
  text-align: center;
  outline: none;
  border: none;
  background: #9be1a0;
  border-radius: 16px;
  transition: color 0.4s ease, background 0.4s ease;
  font-weight: 500;
  font-size: 20px;
  color: black;
}
.button:hover {
  cursor: pointer;
  background: #3ce247;
  color: rgb(42, 23, 247);
}
.nameBox {
  margin-right: 50px;
  min-width: 124px;
  padding: 8px 24px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 16px;
  border: 1px solid #9be1a0;
  color: black;
}
.nameText {
  font-weight: 700;
  font-size: 20px;
  color: black;
}
